@charset "UTF-8";
/*************************
*VARIABLES
**************************/
:root {
  --color__text: hsl(257, 10%, 27%);
  --color__accent-1: hsl(175, 52%, 44%);
  --color__accent-2: hsl(290, 30%, 48%);
  --color__link: hsl(216, 43%, 41%);
  --color__light-grey: hsl(0, 0%, 75%);
  --size__h1: 2.25rem;
  --size__h2: 1.75rem;
  --size__h1--m: 1.875rem;
  --size__h2--m: 1.5rem;
  --size__h: 1.25rem;
  --size__container: 1240px;
  --size__spacer: 4vw;
  --shadow__small: 0 .5rem 1rem -.1rem hsla(240, 30%, 20%, 0.2), 0 0 .125rem 0 hsla(0, 0%, 0%, 0.1);
  --font_b: 'Asap', sans-serif;
  --font_h: 'Asap', sans-serif;
  --line: 1px solid var(--color__light-grey);
}

/*************************
*GLOBALS
**************************/
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-size: 17px;
}

body {
  margin: 0;
  background: #FFFFFF;
}

img {
  display: block;
  width: 100%;
}

a.logo:hover {
  box-shadow: none !important;
  opacity: 0.66;
}

.container {
  max-width: var(--size__container);
  padding: 0 4vw;
  margin: auto;
}

.shadow {
  box-shadow: 0px 12px 48px 0px rgba(0, 0, 0, 0.3);
}

ul {
  padding: 0;
  line-height: 1;
  margin: 0;
}

/*************************
*TYPOGRAPHY
**************************/
html {
  font-family: var(--font_b);
  color: var(--color__text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font_h);
  font-weight: 900;
  margin: 0 0 .75rem 0;
  line-height: 1.25;
  font-size: var(--size__h);
}

h1 {
  font-size: var(--size__h1);
}

h2 {
  font-size: var(--size__h2);
}

p {
  margin: 0 0 1.25rem 0;
  color: inherit;
  line-height: 1.6;
}


a {
  color: var(--color__link);
  text-decoration: none;
  text-transform: none;
}

.button {
  display: inline-block;
  font-family: var(--font_h);
  font-weight: 900;
  line-height: 1;
  white-space: nowrap;
  animation: AnimatedButton 5s ease infinite;
  background-image: linear-gradient(to right, hsl(175, 52%, 44%), hsl(175, 52%, 44%), hsl(175, 52%, 80%), hsl(175, 52%, 44%), hsl(175, 52%, 44%));
  background-size: 800% 800%;
}

.button:hover {
  animation: AnimatedButton 1.5s ease infinite;
  background-image: linear-gradient(to right, hsl(290, 30%, 48%), hsl(290, 30%, 80%), hsl(290, 30%, 48%));
  transform: translateY(-2px);
  cursor: pointer;
  box-shadow: 0 4px 8px hsla(293, 64%, 10%, 0.33);
}

@keyframes AnimatedButton {
	0% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

ul,
ol {
  list-style-type: square;
  padding-left: 1em;
  line-height: 1.75;
}

.caps {
  text-transform: uppercase;
  letter-spacing: .125em;
}

.center {
  text-align: center;
}

/*************************
*NAV
**************************/
.nav {
  width: 100%;
  top: 0;
  left: 0;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  margin-left: var(--size__spacer);
  font-weight: bold;
}

.nav__link:hover {
  box-shadow: inset 0 -0.2rem 0 rgba(0, 0, 0, 0.25);
  transition: .25s;
}

.logo {
  background-size: contain;
  margin: 0;
  height: 3rem;
  width: 3rem;
}

/*************************
*HERO
**************************/
.hero {
  background: linear-gradient(180deg, white, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0), white) center bottom no-repeat, url(images/hero-bg.png) center no-repeat;
  position: relative;
  background-size: 100%, cover;
}

.hero__container {
  padding-top: 12rem;
  padding-bottom: 12rem;
  position: relative;
}

.hero__text {
  margin: 0;
  max-width: 40rem;
  line-height: 1.6;
  font-weight: 900;
}

.hero__button {
  border: none;
  border-radius: 4px;
  text-align: center;
  margin: 1.5rem auto 0 auto;
  padding: 1rem 1.5rem;
  color: #FFFFFF;
  font-size: 1rem;
}

.hero__hightlight-1 {
  background-color: var(--color__accent-1);
  white-space: nowrap;
  color: white;
  padding: 0 .1em;
}

.hero__highlight-2 {
  background-color: var(--color__accent-2);
  white-space: nowrap;
  color: white;
  padding: 0 .1em;
}

.emoji {
  opacity: 1;
  position: absolute;
  animation: wave 7s 2s ease-in-out infinite;
  transform-origin: 75% 75%;
  z-index: 99;
}

.emoji-hidden {
  opacity: 0;
}

@keyframes wave {
  0% {
    transform:rotate(0deg);
  }
  4% {
    transform:rotate(15deg);
  }
  8% {
    transform:rotate(-2deg);
  }
  12% {
    transform:rotate(15deg);
  }
  16% {
    transform:rotate(0deg);
  }
}




/*************************
*PROJECTS
**************************/

.projects {
  --projects-spacer: 2.5rem;
}

.project {
  border-bottom: var(--line);
  padding-bottom: 4rem;
  margin-bottom: 4rem;
  background: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(0, 0%, 97%));
}

.project .container {
  max-width: var(--size__container);
  -moz-columns: 300px 3;
  -webkit-columns: 300px 3;
  columns: 300px 3;
  -moz-column-gap: var(--projects-spacer);
  -webkit-column-gap: var(--projects-spacer);
  column-gap: var(--projects-spacer);
}

#cg-a.project .container {
  -moz-columns: 200px 4;
  -webkit-columns: 200px 4;
  columns: 200px 4;
}

.box {
  display: block;
  -webkit-transform: translateZ(0);
  width: 100%;
  margin: 0 0 var(--projects-spacer);
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
}

.screen {
  box-shadow: var(--shadow__small);
  border-radius: 3px;
  overflow: hidden;
}

.box.project-info {
  margin-bottom: 4rem;
}

.project-title {
  display: inline-block;
  line-height: 1.25;
  transition: .2s ease-in-out;
  color: var(--color__accent-3);
}

.project-title a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.project-subtitle {
  font-size: .75rem;
  margin: -.25rem 0 1rem 0;
}

.project-description {
  margin: 0;
}

.skill-list {
  list-style: none;
  padding: 0;
  opacity: .92;
  margin: 1rem 0;
}

.skill {
  background-color: transparent;
  padding: .33em .5em;
  margin: .25rem .0625rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .6rem;
  border: 1px solid hsla(0, 0%, 0%, 0.5);
  border-radius: .33em;
}

/*************************
*ABOUT
**************************/
#email {
  display: inline-block;
  width: auto;
  margin-left: .5em;
  position: relative;
  bottom: -.1em;
}

#about {
  margin: 0rem 3.5vw 6rem 3.5vw;
  padding: 2rem 0 0 0;
}

#about h1 {
  margin-bottom: 1rem;
}

.about-row .container {
  max-width: var(--size__container);
  -moz-columns: 300px 2;
  -webkit-columns: 300px 2;
  columns: 300px 2;
  -moz-column-gap: var(--projects-spacer);
  -webkit-column-gap: var(--projects-spacer);
  column-gap: var(--projects-spacer);
}
.about-text {
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
}

img#myface {
  height: auto;
  width: 100%;
  max-width: 300px;
  margin: 3rem auto;
  border-radius: 2em;
  border: 4px solid #FFFFFF;
  box-shadow: var(--shadow__small);
}

/*************************
*FOOTER
**************************/

.footer {
  background: hsl(0, 0%, 15%);
  color: hsla(0, 0%, 100%, 0.66);
  padding: .5rem;
}

/*************************
*MOBILE
**************************/

@media only screen and (max-width: 600px) {
  h1 {
    font-size: var(--size__h1--m);
  }
  h2 {
  font-size: var(--size__h2--m);
  }
  .nav__link {
    margin-left: 5vw;
    font-weight: bold;
  }
  .hero__container {
    padding-top: 10rem;
    padding-bottom: 8rem;
  }
  .hero__text {
    font-size: 1.4rem;
    text-align: center;
  }
  .hero__text br:not(:first-of-type) {
    display: none;
  }
  .hero__button {
    display: block;
    text-align: center;
    margin: 1rem auto;
  }
  .about-row .container {

  }
}